.playButton {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  left: 150px;
  cursor: pointer;
  user-select: none;
  box-shadow: 5px 5px 5px grey;
  transition: none;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  background: radial-gradient(circle at 100px 100px, #f32a2a, black);
}

.resetButton,
.backButton {
  margin: 5px;
  position: relative;
  top: 185px;
  left: 95px;
  user-select: none;
  box-shadow: 1px 1px 1px black;
  background: linear-gradient(135deg, rgb(215, 215, 215) 10%, rgb(198, 198, 198) 100%);
}

.playButton:hover {
  background-color: rgb(192, 0, 0);
}

.playButton:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.buttonText {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20', 'PT Sans Narrow';
  line-height: 100px;
  outline: none;
}

.gameView {
  background-color: rgb(198, 198, 198);
  width: 400px;
  height: 100%;
  justify-content: center;
  box-shadow: 2px 2px 2px black;
  border: 3px solid rgb(198, 198, 198);
  background: linear-gradient(135deg, rgb(215, 215, 215) 10%, rgb(198, 198, 198) 100%);
}

.gameViewHeader {
  width: 100%;
  background-color: blue;
  height: 20px;
  display: inline-flex;
}

.title {
  user-select: none;
  position: relative;
  left: 5px;
  font-size: 16px;
  color: white;
}

.helpButton:active,
.exitButton:active {
  transform: translate(1px, 1px);
}

.helpButton,
.exitButton {
  background-color: rgb(198, 198, 198);
  top: 2px;
  position: relative;
  width: 15px;
  height: 15px;
  box-shadow: 1, 1, 1 black;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
  background: linear-gradient(135deg, rgb(215, 215, 215) 10%, rgb(198, 198, 198) 100%);
}

.helpButton {
  line-height: 15px;
  font-size: 15px;
  left: 260px;
  width: 15px;
  height: 15px;
  user-select: none;
}

.exitButton {
  left: 265px;
}

.exitButton:before,
.exitButton:after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: black;
}

.exitButton:before {
  transform: rotate(45deg);
}

.exitButton:after {
  transform: rotate(-45deg);
}

.message {
  line-height: 50px;
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
}

.playerInfo {
  line-height: 50px;
}

.instructions {
  margin: 15px;
  font-size: 15px;
}